div#lap-counter-menu ul li {
	background:url(../images/pager.jpg) repeat-x;
	border: none;
	width:  120px;
    padding: .3em;
}

div#lap-counter-menu ul li a {
	color: white;
    min-height: 36px;
    font-size: 14pt;
    font-weight: bold;
	}

div#lap-counter-menu ul li a:hover {
    text-decoration: none;
	}

table#lap_counter-entrants {
  width: 90%;
}

div#lap-counter-container {
  width: 90%;
}

div#lap-counter-container .container{
  margin-left: -25px;
  margin-top: -35px;
}

div#lap-counter-container div#content{
  width: 99%;
  margin-top: -1px;
}

div#lap-counter-container div#lap_counter-title{
  margin-top: 2px;
  margin-bottom: 3px;
}

/*
Main menu
*/

div#lap-counter-menu{
  margin-top: 40px;
}
div#lap-counter-menu ul li {
  display: inline;
  width: 10%;
}
div#lap-counter-menu ul li a{
  width: 10%;
  padding: .2em 1em;
margin-bottom: 23px;
  line-height: 34px;
}


div.navigation-bar {
  width: 100px;
}

div.navigation-bar td {
  width: 27px;
  min-width: 33px;
}

div.navigation-bar img.spacer {
  width: 27px;
  height: 1px;
}

div.navigation-bar input {
  width: 24px;
}


div.lap_counter-navigation {
  width: 350px;
}

table#lap_counter-insert-lap {
  height: 35px;
}
  
/* float: right;
   display: inline;
*/

table#lap_counter-log {
  width: 100%;
}

table#lap_counter-station-log {
  width: 90%;
  margin-top: .3em;
}

table#lap_counter-scoreboard {
  width: 100%;
}

table.lap_counter-standings {
  width: 410px;
  margin-bottom: 13px;
}

#lap_counter-title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
}

.lap_counter-subtitle {
  font-size: 14pt;
  font-weight: bold;
}

#lap_counter-listing tbody{
  font-size: 18px;
}

#lap_counter-listing input[type="submit"] {
  margin-bottom: 1px;
  padding: 3px 5px;
}

#lap_counter-listing td {
  padding: 0.2em;
  height: 3px;
}

#lap_counter-listing tr {
  height: 3px;
}

#lap_counter-listing .col-data-small {
  width: 4%;
}

#lap_counter-listing .col-data-med {
  width: 18%;
}

#lap_counter-listing .col-data-large {
  width: 23%;
}

#lap_counter-listing .col-full-name {
  width: 50%;
}

#lap_counter-listing .col-time-med {
  width: 11%;
}

#lap_counter-listing .col-time-small {
  width: 8%;
}

#lap_counter-listing tr {
  border-bottom: 1px solid #dde;
}

#sidebar-first .block-inner h2 {
  display: none;
}

#sidebar-first .block-inner .contextual-links-wrapper {
  display: none;
}

#sidebar-first div {
  background-color: red;
  height: 500px;
  text-orientation: vertical-right;
}

div1.container {
  float: right;
}

label[for=bib-number] {
  padding-bottom: 8px;
}

textarea#entry-items {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  rows: 10;
  cols: 50;
  height: 40%;
}

input#edit-lap-break-submit {
  float: left;
}

input#edit-lap-delete-submit {
  float: right;
}

table#lap_counter-entrant {
  width: 790px;
}
