body {
  padding-top: -13px;
}

.container {
  padding: 0;
  padding-top: -13px;
}

.aligncenter  {
  text-align: center;
}

.alignleft  {
  text-align: left;
}

#header {
  min-height: 50px;
  padding-top: -23px;
}

#header .menu li.leaf {
  float: left;
  list-style: none;
  background-color: transparent;
  background-image: url("../images/link_split.jpg");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: right top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto; 
  padding: 0 1px 0 0;
  margin: 0;
}

#header .menu li a:hover { 
  color: white;
  background: url(../images/link_hover.jpg) left top repeat-x;
  text-decoration: none;
}

#header .menu li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 7px 20px 10px;
  font-size: 16px;
}

#header .block-inner {
  padding-top: -30px;
}

#logo {
  float: left;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 15px;
}

#name-and-slogan {
  float: left;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 0;
  margin-top: 0;
  padding-top: 24px;
}

#site-name {
  color: #686868;
  font-size: 1.821em;
  line-height: 1;
}

h1#site-name {
  margin-bottom: 0px;
}

#site-slogan {
  font-size: 0.929em;
  font-style: italic;
  margin-top: 3px;
  word-spacing: 0.1em;
}

.node {
  margin-bottom: 20px;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1#page-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 8px;
}

table {
  width: 70%;
}

tbody {
  font-size: 12pt;
  color: #339;
}

table a {
  color: #339;
}

table a:visited {
  color: #339;
}

table a:hover {
  color: blue;
}

tr.header-row {
  background-color: #9ff;
  font-weight: bold;
  color: #339;
}

tr.oddrow {
  background-color: #ffe;  
}

tr.evenrow {
  background-color: #cff;  
}

td {
  padding: .2em .2em;
}

th {
  padding: .1em .2em;
}

