div#header {
  display: none;
}

div#race-manager-container {
    min-width: 300px;
    margin-left: 0px;
    margin-top: -20px;
}

div#admin-menu {
  display: none;
}

#race-manager-container .data-entry-chute .form-item {
    border: none;
    padding: 3px 0 9px;
    margin: 0;
}


div#race-manager-container div#race-manager-title{
  padding-top: 5px;
}
textarea#bib-entry{
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: bold;
  rows: 10;
  cols: 50;
  height: 40%;
}

table#chute-confirmation tr{
  font-size: 1.7em;
}

table#chute-entry input{
  background-color: #ccffcc;
}

table#chute-confirmation td{
  text-align:center;
}

table#chute-confirmation td.full-name{
  text-align:left;
}

table#chute-confirmation img{
  cursor:pointer;
}
table#chute-confirmation th img{
  cursor:pointer;
}

table#chute-confirmation tr.war1ning{
  border-width: .1em;
  border-style: solid;
  border-color:  #F00;
}

table#chute-confirmation th{
  text-align:center;
  background-color: #ccffcc;
}

div#chute-items {
  margin-top: 5px;
  margin-left: 10px;
  float: left;
  min-width: 60px;
  width: 300px;
}

#chute-items td {
  padding-top: 1em;
}

#chute-items tr.duplicate {
  color: darkred;
  background-color: white;
  border: solid darkred;
}

/*
Mobile Key pad 
*/
table#mobile-key-pad {
  background-color: darkslategrey;
  width: 1px;
}

table#mobile-key-pad tbody {
  margin-bottom: 5px;
}


table#mobile-key-pad img{
  height: 4em;
  padding-left: 4px;
}

/*
Mobile Keypad colors
*/
#race-manager-chute-exit-mobile-form #key-pad input{
  color: darkblue;
  background-color: pink;
}

#race-manager-chute-entry-mobile-form #key-pad input{
  color: darkblue;
  background-color: lightgoldenrodyellow;
}

div#race-manager-container .data-entry-chute #bib_entry {
  width: 290px;
  min-width: 260px;
  padding-top: 4px;
  padding-bottom: 0;
  padding-left: 6px;
  margin-left: 2px;
  font-size: 36pt;
  min-height: 35px;
  background-color: white;
  border-width: .13em;
  border-style: solid;
}

#race-manager-chute-exit-mobile-form #bib_entry {
  border-color:  pink;  
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: rgb(51, 51, 153);
}

#race-manager-chute-exit-form #bib_entry {
  border-color:  pink;  
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: rgb(51, 51, 153);
}

/*
Mobile Keypad size + position
*/

div#key-pad {
  margin-top: -15px;
  float: left;
}

div#key-pad input.num{
  min-width: 55px;
  min-height: 55px;
  font-size: 24pt;
  font-weight: bold;
  margin: .2em .1em 1px;
  padding: 0.2em .1em;
}

div#key-pad input.fn{
  width: 65px;
  min-height: 55px;
  font-size: 16pt;
  font-weight: bold;
}

table#mobile-key-pad td {
  padding: 2px;
}

/*
    margin: 0.1em 0.4em;
    font-size: 10pt;
    width: 64px;

*/

div#key-pad #record{
  width: 118px;
  min-height: 55px;
  font-size: 16pt;
  font-weight: bolder;
  margin-bottom: 0px;
}

table#chute-exit input[type="button"] {
  width: 150px;
}

#race-manager-chute-entry-mobile-form #bib_entry {
  border-color:  yellowgreen;  
  color: rgb(51, 51, 153);
  font-size: 24pt;
  letter-spacing: 0.06em;
  font-weight: bold;
  background-color: white;
}


