/* Menus    */

/*
Main menu
*/

.aligncenter {
  vertical-align: text-top;
}
.alignright {
  vertical-align: text-top;
}
.floatleft {
  float: left;
}

.clearboth {
  clear: both;
}

div.login {
  margin-top: 15px;
  float: right;
}

#race-manager-menu ul {
  float: left;
}

div.form-item-debug .form-textarea-wrapper {
  margin-bottom: 23px;
}
 
#race-manager-container #content-header {
  min-width: 300px;
  width: 75%;
  border-bottom: thick solid rgb(150, 255, 255);
  min-height: 2em;
  margin-top: 10px;
}

#race-manager-container {
  padding-top: 3px;
  margin-left: -1px;
  margin-top: -10px;
  width: 100%;
}

div#race-manager-menu ul li {
    display: inline;
    width: 10%;
	background:url(../images/pager.jpg) repeat-x;
	border: none;
	width:  120px;
    padding: .3em;
}

div#race-manager-menu ul li a {
    width: 10%;
    padding: .2em 1em;
    margin-bottom: 23px;
    line-height: 34px;
	color: white;
    min-height: 36px;
    font-size: 14pt;
    font-weight: bold;
	}

div#race-manager-menu ul li a:hover {
    text-decoration: none;
	}

div#race-manager-menu-admin{
  margin-top: 20px;
  padding-bottom: -12px;
}

div#race-manager-menu-admin ul li {
    display: inline;
	border: none;
    border-bottom: thick solid #ccffff;
	width:  100px;
    padding: .3em ;
    line-height: 2.5em;
}

#race-manager-menu-admin ul li a {
	color: #0000DD;
    min-height: 36px;
    font-size: 14pt;
    font-weight: bold;
	}

#race-manager-menu-admin ul li a:hover {
    text-decoration: none;
    background-color:#ccffff;
	}

#race-manager-menu-admin-registration {
  margin-top: -12px;
  padding: 3px 5px 1px;
  float: left;
}

div#race-manager-menu-admin-registration ul {
  margin-bottom: 1px;
}

#race-manager-menu-admin-registration ul li {
    display: inline;
	border: none;
    border-bottom: thick solid #ccffff;
	width:  100px;
    padding: .3em ;
    line-height: 2.5em;
}

div#race-manager-menu-admin-registration ul li a {
	color: #0000DD;
    min-height: 36px;
    font-size: 14pt;
    font-weight: bold;
	}

div#race-manager-menu-admin-registration ul li a:hover {
    text-decoration: none;
    background-color:#ccffff;
	}

table#race-manager-entrants {
  width: 100%;
}

div#race-manager-container .container{
  margin-left: -25px;
  margin-top: -35px;
}

div#race-manager-container div#content{
  width: 100%;
  margin-top: -1px;
}

div#race-manager-container div#race-manager-title{
  margin-top: 2px;
  margin-bottom: 3px;
}

div#content .container {
  width: 98%;
  margin: 2px;
}

div.navigation-bar {
  width: 100px;
  float: left;
}

div.navigation-bar td {
  width: 27px;
  min-width: 33px;
}

div.navigation-bar img.spacer {
  width: 27px;
  height: 1px;
}

div.navigation-bar input {
  width: 24px;
}


div.race-manager-navigation {
  width: 350px;
}

table#race-manager-insert-lap {
  height: 35px;
}
  
/* float: right;
   display: inline;
*/

table#race-manager-log {
  width: 100%;
}

table#race-manager-station-log {
  width: 90%;
  margin-top: .3em;
}

table#race-manager-scoreboard {
  width: 100%;
}

table.race-manager-standings {
  width: 410px;
  margin-bottom: 13px;
}

#race-manager-title {
    font-size: 1.75em;
    line-height: 20px;
    margin: 8px 5px 10px;
    float: left;
    color: darkblue;
}

#race-manager-title {
    font-size: 1.75em;
    line-height: 20px;
    margin: 1px 0 10px;
    float: right;
    color: darkblue;
}

.race-manager-subtitle {
  font-size: 14pt;
  font-weight: bold;
}

#race-manager-listing table {
  clear: both;
}

#race-manager-listing tbody{
  font-size: 18px;
}

#race-manager-listing .back-link{
  float: left;
  margin-left: 5em;
}
#race-manager-listing .back-link a {
  font-size: 18px;
  color: darkblue;
}

#race-manager-listing input[type="submit"] {
  margin-bottom: 1px;
  padding: 3px 5px;
}

#race-manager-listing td {
  padding: 0.2em;
  height: 3px;
}

#race-manager-listing tr {
  height: 3px;
}

#race-manager-listing .col-data-small {
  width: 4%;
}

#race-manager-listing .col-data-med {
  width: 18%;
}

#race-manager-listing .col-data-large {
  width: 23%;
}

table#race-manager-final  {
  width: 99%;
}

table.race-manager-splits  {
  width: 90%;
}

#race-manager-listing #race-manager-final .col-data-large {
  width: 53em;
}

#race-manager-listing .col-full-name {
  width: 50%;
}

#race-manager-listing .col-time-med {
  width: 11%;
}

#race-manager-listing .col-time-small {
  width: 8%;
}

#race-manager-listing tr {
  border-bottom: 1px solid #dde;
}

#race-manager-editions td {
  padding: 0.15em;
}

#race-manager-editions td div {
  position: relative;
  top: -8px;
}

#race-manager-editions td input.small {
  width: 3em;
  text-align: center;
}

#race-manager-editions td input[type="text"] {
  margin-bottom: -3px;
}

#race-manager-editions td input.time {
  width: 11em;
}

#race-manager-editions td input.large {
  width: 13em;
}

#race-manager-editions td input.larger {
  width: 20em;
}

#race-manager-editions td input.largest {
  width: 27em;
}

#race-manager-editions .time {
  width: 15em;
}

#race-manager-editions tr {
  height: 15px;
}

#sidebar-first .block-inner h2 {
  display: none;
}

#sidebar-first .block-inner .contextual-links-wrapper {
  display: none;
}

#sidebar-first div {
  background-color: red;
  height: 500px;
  text-orientation: vertical-right;
}

label[for=bib-number] {
  padding-bottom: 8px;
}

input#edit-lap-break-submit {
  float: left;
}

input#edit-lap-delete-submit {
  float: right;
}

table#race-manager-entrant {
  width: 790px;
}

table#race-manager-entrant td {
  font-size: 16pt;
}

.action-links a {
    padding-left: 15px;
    background: url("../images/add.png") no-repeat scroll 0px center transparent;
    line-height: 30px;
}
.cancel a {
  color: red;
  border: .1em #cc0000 solid;
  padding: 0 25px;
  background: url("../images/cancel.png") no-repeat scroll 0px center transparent;
  line-height: 30px;
}

#race-manager-admin-event-form td span {
  margin: auto;
}

#race-manager-container #content {
  background-color: #ffe;
}

#race-manager-container fieldset {
  clear: both;
  border: 1px solid darkblue;
  padding: 5px 10px 0 10px;
  margin: 3px 4px 4px 1px;
}

#race-manager-container .fieldset-wrapper input {
  margin-left: 10px;
}

#race-manager-container .fieldset-wrapper a {
  font-size: 16pt;
  color: darkblue;
  margin-bottom: 6px;
}

#race-manager-container input[type="text"] {
  font: 14pt "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 8px;
  color: darkblue;
  width: 400px;
  background-color: lightcyan;
}

#race-manager-container .form-item {
  border: 1px solid green;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 12px;
  margin: 3px 4px 4px 1px;
}

#race-manager-container .form-item .form-item {
  border: none;
  padding: 0;
  margin: 0;
}

#race-manager-container #edit-submit-container {
  padding: 1px;
}

#race-manager-container .form-submit {
  margin: 3px 3px 3px;
  font-size: 11pt;
  font-weight: bold;
  color: darkblue;
}

#race-manager-container #full_name {
  clear: both;
  float: left;
  padding: 10px;
  font-size: 24pt;
  color: #093;
}

#race-manager-registration-short-form #select-name {
  float: left;
}

#race-manager-container .notice {
  padding: 20px 10px 0;
  float: left;
  font-size: 14pt;
  color: darkorchid;
}

#race-manager-container .notice strong {
  color: darkorchid;
  text-decoration: blink;
  font-style: italic;
}

#race-manager-registration-short-form .form-radios .form-type-radio {
  margin-bottom: .5em;
}


#race-manager-container .form-item li {
  font-size: 14pt;
  height: 20px;
  background-color: #ffc;
  color: darkgreen;
  display: block;
  height: 30px;
  padding: 11px 12px 0;
  margin: 0;
}
#race-manager-container .form-item li:hover {
  color: darkmagenta;
  background-color: #fff;
}

#race-manager-container label {
  padding-bottom: 10px;
  font-size: 14pt;
  color: rgb(51, 51, 153);
}

#race-manager-registration-form .form-item-age {
  float: left;
}

#race-manager-registration-form .form-item-add1 {
  clear: both;
}

#race-manager-registration-form #edit-select-edition-id .form-item {
  padding-bottom: 4px;
}



#race-manager-registration-form .form-item-select-bib{
  float: left;
}

#race-manager-registration-form fieldset#edit-entrant1 {
  display: none;
}

#race-manager-registration-form fieldset {
  clear: both;
}

#race-manager-registration-form #edit-select-name {
  float: left;
}

#race-manager-registration-form li {
  font-size: 12pt;
  height: 20px;
  background-color: #ffc;
}

#race-manager-registration-form #full_name {
  padding: 10px;
  font-size: 24pt;
  color: #093;
}

#race-manager-container #event-name {
  padding: 10px;
  font-size: 24pt;
  color: #093;
}

#race-manager-container .fieldset-title {
  padding: 2px 10px 10px 10px;
  font-size: 14pt;
  color: blue;
}

#race-manager-registration-form input.form-submit {
  height: 30px;
}


#race-manager-registration-form #gender {
  clear: both;
}
  
#race-manager-registration-form .form-item-gender {
  padding-bottom: 27px;
  float: left;
  min-width: 45px;
}

#race-manager-registration-form #edit-age {
  width: 55px;
  text-align: center;
  margin: 4px auto;
}

#race-manager-container #select-name {
  float: left;
  clear: both;
}

#race-manager-registration-form div.form-item-bib {
  float: left;
}

#race-manager-registration-form div.form-item-dob {
  float: left;
  padding-bottom: 0;
}

#race-manager-registration-form .form-item-dob .form-type-select {
  margin-bottom: -3px;
}
/* #race-manager-registration-form .edit-dob-year {
*/
#race-manager-registration-form #edit-dob .form-select {
  width: 70px;
  text-align: center;
  background-color: lightcyan;
}

#race-manager-registration-form #edit-dob .form-select {
  width: 70px;
  text-align: center;
  margin-left: 3px;
  background-color: lightcyan;
}

#race-manager-registration-form textarea {
  background-color: lightcyan;
  font-size: 16pt;
  color: darkblue;
}

#race-manager-registration-form #edit-bib {
  width: 100px;
  text-align: center;
  font-size: 18pt;
  color: darkblue;
}

#race-manager-registration-form #select-edition-id {
  float: left;
  padding: 0;
  margin: 0;
  border: none;
}
/*form-item form-type-checkbox form-item-alt-start
*/
#race-manager-registration-form #select-edition-id {
  float: left;
  padding: 0;
  margin: 0;
  border: none;
}

#race-manager-registration-form .form-item-select-edition-idq {
  clear: both;
}

#race-manager-container select{
  font-size: 14pt;
  height: 30px;
  width: 295px;
  color: darkblue;
}

#race-manager-container input[type="button"] {
  padding: .8em 1em;
  margin: .1em .4em;
  font-size: 10pt;
  width: 64px;
}

#race-manager-container div.lap-links a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  background-color: #ffa;
  padding: .2em 1em;
  margin: .1em .4em;
  font-size: 14pt;
  font-weight: bold;
  font-size: 14pt;
  color: rgb(51, 51, 153);
  width: 64px;
}

#race-manager-container table {
  width: 95%;
}

#race-manager-container .start span {
  width: 95px;
/*  display: inline-block; */
  float: left;
}

#race-manager-admin-edition-add-form .form-item-race-date {
  float: left;
}

#race-manager-admin-edition-add-form .form-item-start-time {
  clear: both;
}

#race-manager-admin-edition-add-form #edit-race-date .form-select {
  width: 70px;
  margin-left: 3px;
  text-align: center;
  background-color: lightcyan;
}

#race-manager-admin-start-timer-form td {
  vertical-align: middle;
}

#race-manager-container td.start {
  width: 50%;
}

input#race-manager-start-submit {
  padding: 12px 25px;
}

.start span.timer {
  background-color: greenyellow;
  font-size: 1.5em;
  vertical-align: middle;
  text-align: center;
  margin-top: 7px;
  display: none;
  padding: .6em 3px;
}

.start span.button input[type="checkbox"] {
    margin-left: 35%;
    margin-top: 19%;
}

.start span.button {
  padding: .8em 3px;
}

#race-manager-container option {
  background-color: #ffc;
}



#race-manager-registration-short-form #race-manager-event-choose-submit {
  margin-top: 37px;
  margin-left: 10px;
  float: left;
}

#race-manager-registration-short-form div.form-item-bib {
  float: left;
}

#race-manager-registration-choose-submit {
  margin: 4px 10px 4px;
  vertical-align: bottom;
  clear: both;
}

#race-manager-registration-short-form .form-item-gender {
  float: left;
  padding-bottom: 20px;
}

#race-manager-registration-short-form .form-item-select-edition-id {
  clear: both;
}

#race-manager-registration-manage-form .form-item-data {
  clear: both;
}

div#personal-data {
  float: left;
}

div#registration-data {
  float: left;
}

/*  display: inline-block;
*/

div.form-item-first-name {
  float: left;
  clear: both;
}

div.form-item-last-name {
  float: left;
}
/*
  clear: both;
*/

div.form-item-alt-start {
  float: left;
}

div.form-item-last-name {
  float: left;
}

select#edit-select-edition-id {
  height: 5em;
}

div.form-type-select {
  float: left;
}

div.form-type-radios {
  float: left;
}

div#event-name {
  clear: both;
}
#race-manager-container textarea#entry-items {
  font-size: 16pt;
  color: darkblue;
}

.outline-outward {
  background-color: #ff2;
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}


.button-x {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

